.item {
    border: 1px solid;
    margin-bottom: 5px;
    padding: 5px;
}

    .item .item-row {
        border-bottom: 1px solid lightgrey;
        padding: 2px;
    }

        .item .item-row .item-row-label {
            display: inline-block;
            width: 130px;
        }

        .item .item-row .item-row-value {
            display: inline-block;
        }
