@using Nop.Web.Framework.UI
@model string
@{

    Html.AddScriptParts("~/Plugins/Widgets.Gallery/Scripts/galleria-1.3.5.min.js");
    Html.AddScriptParts("~/Plugins/Widgets.Gallery/Scripts/galleria.picasa.min.js");
    Html.AddCssFileParts("~/Plugins/Widgets.Gallery/Content/Gallery.css");
    Html.AddScriptParts("~/Plugins/Widgets.Gallery/Content/Galleria/galleria.classic.min.js");
    Html.AddCssFileParts("~/Plugins/Widgets.Gallery/Content/Galleria/galleria.classic.css");
}

<div id="galleria">
</div>

<script>
    // Initialize Galleria
    Galleria.run('#galleria', {
        height: 520, //--I made heights match
        // The user & album. This example fetches the album "Demo" from the user "galleriajs"
        picasa: '@Model'
    });
    Galleria.ready(function (options) {
        this.attachKeyboard({
            left: this.prev, // applies the native prev() function
            right: this.next,
            up: function () {
                // custom up action
                Galleria.log('up pressed');
            },
            13: function () {
                // start playing when return (keyCode 13) is pressed:
                this.play(3000);
            }
        });
    });

</script>
